<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Werkstadt 2031</title>

	<script type="text/javascript">
	<!--
	if (screen.width <= 1280) {
		document.location = "../app/";
	}
	//-->
	</script>

	<link rel="stylesheet" href="../style.css">
	<link rel="stylesheet" href="desktop.css">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Reenie+Beanie&family=Shadows+Into+Light+Two&family=Square+Peg&display=swap" rel="stylesheet">

		<link rel="stylesheet" type="text/css" href="https://fuerth.bluepingu.de/typo3conf/ext/def_package/Resources/Public/Fonts/open-sans/17/font_open-sans.css?1586015357" media="all">
		<link rel="stylesheet" type="text/css" href="https://fuerth.bluepingu.de/typo3conf/ext/def_package/Resources/Public/Fonts/sen/1/font_sen.css?1585918353" media="all">

	<style>
		html,
		body {
			padding: 0;
			margin: 0;
		}
	</style>
</head>

<body>
{{ content | safe }}
</body>

<script src="desktop.js"></script>
</html>