

.accordion-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	color: var(--text-main);
}


ul.accordion {
	list-style: none;
	padding: 0;
	margin: 0;
}

ul.accordion.level-1 > .accordion-item summary {
	background-color: var(--background-level-1);
}
ul.accordion.level-2 > .accordion-item summary {
	background-color: var(--background-level-2);
}

li.accordion-item {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: fit-content;

	background-color: var(--werkstadt-background);
}

li.accordion-item summary {
	display: flex;
	flex-direction: row;
	gap: 1rem;

	padding: 0.5rem;

	color: var(--text-main);
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	cursor: pointer;
}
li.accordion-item.disabled summary {
	cursor: default;
}

li.accordion-item summary h2 {
	display: block;
	padding: 0;
	margin: 0;
	
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 1.25rem;
}

.accordion-content {
	background-color: var(--werkstadt-background);
}

.accordion-item > article {
	display: none;
	height: 0;
}
.accordion-item > details > summary > h2::before {
	content: "â±";
	padding: 0.5rem;
	font-size: 1rem;
	display: inline-block;
	color: #999;
}
.accordion-item > details[open] > summary > h2::before {
	transform: rotate(90deg);
}

.accordion-item.open > article {
	display: block;
	height: fit-content;
}

ul.accordion.level-1 > .accordion-item > details[open] > summary,
ul.accordion.level-2 > .accordion-item > details[open] > summary {
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
	z-index: 110;
}
/*
ul.accordion.level-2 > .accordion-item > details[open] > summary {
	top: 3rem;
}
*/
