---
id: "app"
order: 2
---

{# embedd as svelte component #}
<div id="werkstadt-2031-app"></div>

{# embed as iframe #}
{# 
<a href="./desktop/" id="werkstadt-fullscreen-btn">Vollbild ◹</a>
<iframe src="./desktop/app.html" 
    id="werkstadt-iframe" 
    frameborder="0" 
    scrolling="yes" 
    allow="fullscreen" 
    width="100%"
></iframe>
#}