---
id: "faq"
order: 2
---

<h2 class="title is-2">FAQ - Häufige Fragen</h2>

<details>
	<summary>Warum?</summary>
	<cite>
		<p>
			Wir haben uns gefragt, welche Themen die Fürther*innen ganz persönlich beschäftigen - vor ihrer Haustüre, in ihrer Stadt.
			Was haben die Menschen auf dem Herzen? Geht es eher um das große Ganze oder gibt es ganz konkrete Anliegen?
			Als Engagierte schlägt unser Herz für den kulturellen und gesellschaftlichen Wandel, doch wollen wir die Arbeit an einer guten Zukunft miteinander gestalten.
			Deshalb wollten wir wissen, was unsere Mitbürger*innen sich für diese lebenswerte Zukunft wünschen.
		</p>
		<p>
			Der gewählte Zeithorizont von 10 Jahren soll dabei einerseits zum größer Denken einladen, andererseits auch zum realistisch sein.
		</p>
	</cite>
</details>

<details>
	<summary>Wofür?</summary>
	<cite>
		<p>
			Die vielen verschiedenen Perspektiven sollen ein fundiertes Gesamtbild zeigen.
			Einen Zwischenstand über die Bedürfnisse der Fürther Bürger*innen, aus dem sich konkrete Projekte, größere Ziele und ganz allgemein auch Werte der Bürger*innen ableiten lassen.
		</p>
		<p>
			Lasst Euch inspirieren!
			Wir finden, dass Anliegen und Wünsche zugleich auch Chancen sein können, die sich verwirklichen lassen.
			Unser Motto ist: Von der Ohnmacht zur Aktion/Selbstwirksamkeit.
		</p>
		<p>
			Mit Hilfe der Agenda, die wir aus den Daten filtern, wollen wir auch bei den Ansprechpartner:innen in Politik und Verwaltung Werbung machen für die Belange der Bürger*innen und den Dialog weiter fördern.
		</p>
	</cite>
</details>

<details>
	<summary>Wie wurde das aufbereitet? Ist das wissenschaftlich?</summary>
	<cite>
		<p>
			Alle Antworten repräsentieren die Meinung ihrer Verfasser:innen.
			Eine starke Demokratie hält verschiedene Perspektiven aus.
			Wir verstehen uns nicht als politischen Filter, haben keine Antworten manipuliert und nur ganz wenige – extreme – Perspektiven aus der Sammlung geworfen.
		</p>
		<p>
			Wir haben uns mit der Frage nach Wissenschaftlichkeit schon früh im Projekt auseinandergesetzt.
			Dabei wurde uns aber immer mehr bewusst, dass wir mit unseren begrenzten Mitteln nicht dem wissenschaftlichen Anspruch genüge werden können.
			Wir wollten dennoch weitermachen und inzwischen glauben wir, dass es diesen Anspruch auch gar nicht braucht.
			Die Ideen leben durch ihre Individualität und sind als qualitative Sammlung zu verstehen.
		</p>
	</cite>
</details>

<details>
	<summary>Ihr habt Feedback?</summary>
	<cite>
		<p>
			Wenn Ihr beim Durchsehen Beobachtungen macht, Fehler findet oder Ideen habt, was wir mit dieser tollen Sammlung machen können, 
			schreibt uns gerne eine eMail an <a href="mailto:werkstadt-2031@bluepingu.de">werkstadt-2031@bluepingu.de</a>.
		</p>
	</cite>
</details>

<details>
	<summary>Cool, wer hat das Programmiert?</summary>
	<cite>
		<p>
			Die Seite hat unser Web-Entwickler <a href="https://github.com/mojoaxel">Alexander Wunschik</a> mit  ❤️ Leidenschaft und viel Geduld entwickelt. Vielen Dank!<br>
			Die Webseite ist technisch mit <a href="https://www.11ty.dev/">11ty</a> und <a href="https://svelte.dev/">svelte</a> realisiert und wurde als <b>Open-Source</b> auf <a href="https://github.com/fuerth/werkstadt-2031">GitHub</a> veröffentlicht.<br>
			Verbesserungsvorschläge sind jederzeit willkommen.
		</p>
	</cite>
</details>

<style>
	section#faq details summary {
		font-weight: bold;
	}
	section#faq details cite {
		font-style: normal;
	}
	section#faq details cite p {
		margin-top: 0.5rem;
		margin-left: 1rem;
	}
</style>