---
id: "faq"
order: 2
---

<h2 class="title is-2">FAQ - Häufige Fragen</h2>

<details>
	<summary>Warum?</summary>
	<cite>
		<p>Wir haben uns gefragt, welche Themen die Bürger*innen ganz persönlich beschäftigen - vor ihrer Haustüre, in ihrer Stadt. Was haben die Menschen auf dem Herzen? Sind es ganz konkrete Anliegen oder dreht es sich eher um das große Ganze? Als Engagierte schlägt unser Herz für den kulturellen und gesellschaftlichen Wandel, doch wollen wir unsere Vorstellungen einer guten Zukunft anderen nicht überstülpen, sondern herausfinden, an welchen Stellen unseren Mitbürger*innen noch etwas fehlt.</p>
		<p>Der gewählte Zeithorizont von 10 Jahren soll dabei einerseits zum größer Denken einladen, andererseits auch zum realistisch sein.</p>
	</cite>
</details>

<details>
	<summary>Wofür?</summary>
	<cite>
		<p>Anhand der vielen verschiedenen Perspektiven möchten wir ein fundiertes Gesamtbild erarbeiten. Ein Zwischenstand über die Bedürfnisse der Fürther Bürger*innen, aus dem sich konkrete Projekte, größere Ziele und ganz allgemein auch Werte der Bürger*innen ableiten lassen. Mit Hilfe der Agenda, die wir aus den Daten filtern, wollen wir bei den Ansprechpartnern in Politik und Verwaltung Werbung machen für die Belange der Bürger*innen und den Dialog weiter fördern.</p>
		<p>Besonders wichtig ist uns außerdem, Menschen das Gefühl zu vermitteln, dass ihre Anliegen und Wünsche auch Chancen sind, die sich verwirklichen lassen. Unser Motto ist: Von der Ohnmacht zur Aktion/Selbstwirksamkeit.</p>
	</cite>
</details>

<details>
	<summary>Warum keine soziographischen Daten?</summary>
	<cite>
		<p>Uns wurde schnell bewusst, dass wir mit unseren begrenzten Mitteln keine wissenschaftlichen Anspruch genügen können. 
		Bei einem Großteil der Befragten hielten wir Alter und Geschlacht fest.</p>
		<p>Sie sehen die Daten von {{ counts.maxId }} Bürger:innen, der Rest wurde diesbezüglich nicht erfasst oder enthilet sich.</p>
	</cite>
</details>

<details id="faq-geschlechter">
	<summary>Warum zeigt Ihr nur 3 Geschlechter?</summary>
	<cite>
		<p>Diese Repräsentation ist nicht unsere Intention. Wir unterstützen jeglichen Ausdruck und jede Orientierung des eigenen Geschlechts.</p>
		<p>
			<em class="tag">#womanpower</em>
			<em class="tag">#geschlechtergleichberechtigung</em>
		</p>
	</cite>
</details>

<details id="faq-geschlechter">
	<summary>Cool, wer hat das Programmiert?</summary>
	<cite>
		<p>Ehrenamtlich programmiert mit ❤️ von <a href="https://github.com/mojoaxel">Alexander Wunschik</a> von <a href="https://fullstax.de">fullstax</a>.</p>
		<p>
			Die Webseite ist <em class="tag">#OpenSource</em> und kann auf <a href="https://github.com/fuerth/werkstadt-2031">GitHub</a> eingesehen werden.
			Verbesserungsvorschläge sind jederzeit willkommen.
		</p>
	</cite>
</details>