---
id: "sponsors"
order: 4
---

<p>
	<strong>Dieses Projekt wird gefördert durch die Fürther Partnerschaft für Demokratie</strong>
</p>

<div class="wp-block-stackable-columns stk-block-columns stk-block stk-cf9959f" data-block-id="cf9959f">
	<div class="stk-row stk-inner-blocks stk-block-content stk-content-align stk-cf9959f-column">
		<div class="wp-block-stackable-column stk-block-column stk-column stk-block stk-a8f4b8c" data-v="4" data-block-id="a8f4b8c">
			<div class="stk-column-wrapper stk-block-column__content stk-container stk-a8f4b8c-container stk--no-background stk--no-padding">
				<div class="stk-block-content stk-inner-blocks stk-a8f4b8c-inner-blocks">
					<figure class="wp-block-image size-large"><img loading="lazy" decoding="async" width="1024" height="347" src="https://umbau.werkstatt-fuerth-2031.bluepingu.de/wp-content/uploads/sites/12/2025/05/BMFSFJ_DL_mitFoerderzusatz-1024x347.png" alt="" class="wp-image-112" srcset="https://werkstadt-2031.bluepingu.de/wp-content/uploads/sites/12/2025/05/BMFSFJ_DL_mitFoerderzusatz-1024x347.png 1024w, https://werkstadt-2031.bluepingu.de/wp-content/uploads/sites/12/2025/05/BMFSFJ_DL_mitFoerderzusatz-300x102.png 300w, https://werkstadt-2031.bluepingu.de/wp-content/uploads/sites/12/2025/05/BMFSFJ_DL_mitFoerderzusatz-768x260.png 768w, https://werkstadt-2031.bluepingu.de/wp-content/uploads/sites/12/2025/05/BMFSFJ_DL_mitFoerderzusatz-1536x520.png 1536w, https://werkstadt-2031.bluepingu.de/wp-content/uploads/sites/12/2025/05/BMFSFJ_DL_mitFoerderzusatz.png 1677w" sizes="auto, (max-width: 1024px) 100vw, 1024px"></figure>
				</div>
			</div>
		</div>
	</div>
</div>