---
id: "sponsors"
order: 3
---

<div id="c1351" class="content frame-type-textmedia frame-layout-0">
	<h4 class="title is-4 ">
		Dieses Projekt wird gefördert durch die Fürther Partnerschaft für Demokratie
	</h4>
	<div class="ce-textpic ce-left ce-above"></div>
</div>
<div class="columns is-tablet">
	<div class="column is-4">
		<div id="c1411" class="content frame-type-textmedia frame-layout-0">
			<div class="ce-textpic ce-left ce-above">
				<div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
					<div class="ce-row">
						<div class="ce-column">
							<figure class="image">
								<a href="https://www.bmfsfj.de/" target="_blank" rel="noreferrer">
									<img class="image-embed-item" 
										width="375" height="200" 
										src="https://bluepingu.de/fileadmin/Redaktion-fue/Bilder-Werkstadt-2031/BMFSFJ_svg.svg" loading="lazy" 
										alt="Bundesministerium für Familie, Seniore, Frauen und Jugend">
								</a>
							</figure>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="column is-4">
		<div id="c1414" class="content frame-type-textmedia frame-layout-0">
			<div class="ce-textpic ce-left ce-below">
				<div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
					<div class="ce-row">
						<div class="ce-column">
							<figure class="image">
								<a href="https://www.demokratie-leben.de/" target="_blank" rel="noreferrer">
									<img class="image-embed-item" 
									width="375" height="200" 
									src="https://bluepingu.de/fileadmin/Redaktion-fue/Bilder-Werkstadt-2031/Demokratie_leben_svg.svg" loading="lazy" 
									alt="Demokratie leben!">
								</a>
							</figure>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="column">
		<div id="c1413" class="content frame-type-textmedia frame-layout-0">
			<div class="ce-textpic ce-left ce-below">
				<div class="ce-bodytext">
					<p>&nbsp;&nbsp;</p>
				</div>
				<div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
					<div class="ce-row">
						<div class="ce-column">
							<figure class="image"><a href="https://demokratie-fuerth.de/" target="_blank" rel="noreferrer">
								<img class="image-embed-item" 
									width="196" height="120" 
									src="https://bluepingu.de/fileadmin/Logos/Netzwerke/Logo_FuertherPartnerschaftFuerDemokratie.svg" loading="lazy" 
									alt="Fürther Partnerschaft für Demokratie">
							</a>
							</figure>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="c1358" class="content frame-type-textmedia frame-layout-0">
	<div class="ce-textpic ce-left ce-above">
		<div class="ce-bodytext">
			<p class="is-size-7">
				Diese Veröffentlichung stellt keine Meinungsäußerung des BMFSFJ oder des BAFzA dar.<br>
				Für inhaltliche Aussagen trägt der Autor/die Autorin bzw. tragen die Autoren/die Autorinnen die Verantwortung.
			</p>
		</div>
	</div>
</div>