---
layout: "bluepingu.11ty.js"
---

<header>
	<h1>Werk Stadt Fürth 2031</h1>
	<img class="banner image-embed-item" src="https://fuerth.bluepingu.de/fileadmin/_processed_/8/c/csm_WSF_Logo_2204_rgb_Mittel_7e059889c0.png" width="531" height="350" loading="lazy" alt="">
</header>

<section class="container">
	<p class="cite bubble">
		<cite class="cite text">Angenommen Du könntest entscheiden - was würde sich in den kommenden 10 Jahren in Fürth verändern?</cite>
		<span class="cite author">- mehr wollten wir nicht wissen.</span>
	</p>
	<p class="introduction">
		<b>Clickt</b> Euch hier durch die Daten der Bürger:innenbefragung.<br>
		Mitgewirkt haben {{ counts.maxId }} Fürtherinnen, die wir beim Spazierengehen und online befragt haben.
		<em>Viel Spaß!</em>
	</p>
	<p class="thanks">
		Danke fürs mitmachen<span>!</span>
	</p>
</section>

<section class="container statistics">
	<div id="werkstadt-2031-statistics"></div>
</section>

<section class="container app">
	{# embedd as svelte component #}
	<div id="werkstadt-2031-app"></div>
	
	{# embed as iframe #}
	{# 
	<a href="./desktop/" id="werkstadt-fullscreen-btn">Vollbild ◹</a>
	<iframe src="./desktop/app.html" 
		id="werkstadt-iframe" 
		frameborder="0" 
		scrolling="yes" 
		allow="fullscreen" 
		width="100%"
	></iframe>
	#}
</section>

<section class="container statistics">
	<h2>FAQ - Häufige Fragen</h2>
	<details>
		<summary>Warum?</summary>
		<div>
			<p>Wir haben uns gefragt, welche Themen die Bürger*innen ganz persönlich beschäftigen - vor ihrer Haustüre, in ihrer Stadt. Was haben die Menschen auf dem Herzen? Sind es ganz konkrete Anliegen oder dreht es sich eher um das große Ganze? Als Engagierte schlägt unser Herz für den kulturellen und gesellschaftlichen Wandel, doch wollen wir unsere Vorstellungen einer guten Zukunft anderen nicht überstülpen, sondern herausfinden, an welchen Stellen unseren Mitbürger*innen noch etwas fehlt.</p>
			<p>Der gewählte Zeithorizont von 10 Jahren soll dabei einerseits zum größer Denken einladen, andererseits auch zum realistisch sein.</p>
		</div>
	</details>
	<details>
		<summary>Wofür?</summary>
		<div>
			<p>Anhand der vielen verschiedenen Perspektiven möchten wir ein fundiertes Gesamtbild erarbeiten. Ein Zwischenstand über die Bedürfnisse der Fürther Bürger*innen, aus dem sich konkrete Projekte, größere Ziele und ganz allgemein auch Werte der Bürger*innen ableiten lassen. Mit Hilfe der Agenda, die wir aus den Daten filtern, wollen wir bei den Ansprechpartnern in Politik und Verwaltung Werbung machen für die Belange der Bürger*innen und den Dialog weiter fördern.</p>
			<p>Besonders wichtig ist uns außerdem, Menschen das Gefühl zu vermitteln, dass ihre Anliegen und Wünsche auch Chancen sind, die sich verwirklichen lassen. Unser Motto ist: Von der Ohnmacht zur Aktion/Selbstwirksamkeit.</p>
		</div>
	</details>
	<details>
		<summary>Warum keine soziographischen Daten?</summary>
		<div>
			<p>Uns wurde schnell bewusst, dass wir mit unseren begrenzten Mitteln keine wissenschaftlichen Anspruch genügen können. 
			Bei einem Großteil der Befragten hielten wir Alter und Geschlacht fest.</p>
			<p>Sie sehen die Daten von {{ counts.maxId }} Bürger:innen, der Rest wurde diesbezüglich nicht erfasst oder enthilet sich.</p>
		</p>
	</details>
	<details>
		<summary>Warum zeit Ihr nur 3 Geschlechter?</summary>
		<div>
			<p>Diese Repräsentation ist nicht unsere Intention. Wir unterstützen jeglichen Ausdruck und jede Orientierung des eigenen Geschlechts.</p>
			<p><em class="tag">#womanpower</em> <em class="tag">#geschlechtergleichberechtigung</em></p>
		</div>
	</details>
</section>

<link rel="stylesheet" type="text/css" href="./desktop/build/bundle.css" media="all">
<script defer src="./desktop/build/bundle.js"></script>

{#
<script type="application/javascript">
	function resizeIFrameToFitContent(iFrame) {
		iFrame.height = window.innerHeight;
	}
	window.addEventListener('DOMContentLoaded', function(e) {
		const iFrame = document.getElementById('werkstadt-iframe');
		window.addEventListener('resize', (event) => {
			resizeIFrameToFitContent(iFrame);
		});
		resizeIFrameToFitContent(iFrame);
	});
</script>
#}

<link rel="stylesheet" type="text/css" href="style.css" media="all">
<style type="text/css" media="all">
	html, body {
		padding: 0;
		margin: 0;
	}

	header {
		width: 100%;
		text-align: center;
	}
	header img.banner {
		margin: 2rem 0;
	}

	section.container {

	}

	.container {
		position: relative;
	}

	.cite.bubble {
		position: relative;
		display: block;
		border-radius: 2rem;
		border: none;
		background-color: orange;
		max-width: 35rem;
		padding: 2rem;
		margin-top: 3rem;
		margin-left: 5%;
		margin-bottom: 5rem;
	}
	.cite.bubble:after {
		content: '';
		position: absolute;
		display: block;
		width: 0;
		z-index: 1;
		border-style: solid;
		border-width: 0 2rem 2rem 0;
		border-color: transparent orange transparent transparent;
		bottom: -2rem;
		left: 80%;
		margin-left: -1rem;
	}
	.cite.text {
		font-size: 1.5rem;
		font-style: italic;
		font-weight: 700;
	}
	.cite.text:before {
		content: '„';
	}
	.cite.text:after {
		content: '“';
	}
	.cite.author {
		display: block;
		text-align: right;
		margin-top: 1rem;
		font-size: 1rem;
	}

	.introduction {
		display: block;
		max-width: 29rem;
		color: var(--werkstadt-blue);
		margin: 4rem auto;
		font-size: 1.5rem;
		font-style: normal;
	}
	.introduction em {
		display: block;
		font-size: 2.5rem;
		font-style: normal;
	}

	.thanks {
		position: absolute;
		top: 15%;
		right: 20%;
		font-size: 2rem;
		font-weight: bold;
		color: orange;
		max-width: 15rem;
		display: flex;
		flex-direction: row-reverse;
		rotate: 10deg;
	}
	.thanks span {
		font-size: 6rem;
		line-height: 5.6rem;
	}

	main {
		width: 100%;
		padding-bottom: 3rem !important;
	}
	main.section {
		padding: 0;
		padding-left: 0rem !important;
	}

	#werkstadt-fullscreen-btn {
		text-align: right;
		width: 100%;
		display: inline-block;
		color: var(--werkstadt-blue);
	}

	.app-container {
		width: 100%;
		height: fit-content;
		background-color: var(--werkstadt-background);
	}

	@media (max-width: 1024px) {
		.pageTree-200 .section:not(.is-highlight) {
			background-image: none;
		}

		.container {
			margin-left: 1rem;
			margin-right: 1rem;
		}

		header h1 {
			margin: 3rem 0;
		}

		.cite.bubble {
			max-width: 90%;
			margin: 2rem auto 5rem auto;
		}

		.introduction {
			display: block;
			max-width: 100%;
			margin: 2rem 0;
			padding: 2rem;
			border-radius: 2rem;
			background-color: var(--werkstadt-background);
			color: var(--werkstadt-blue);
		}

		.thanks {
			position: relative;
			top: 0;
			right: 0;
			rotate: 5deg;
			justify-content: space-around;
			margin: 2rem auto 4rem auto;
		}
	}
</style>