---
layout: "bluepingu.11ty.js"
---

<header>
	<h1>Werkstadt Fürth 2031 – Nachfragen.Umdenken.Mitwirken</h1>
	<img class="banner image-embed-item"
		src="http://bluepingu.de/fileadmin/_processed_/8/c/csm_WSF_Logo_2204_rgb_Mittel_7e059889c0.png" loading="lazy"
		width="531" height="350"
		alt="Das 'Werk Stadt Fürth 2031' logo zeigt die Fasade mehrerer Fachwerkhäuser in Entstehung">
</header>

{% for section in collections.sections | sort(false, false, 'data.order') %}
	<section id="{{ section.data.id }}" class="container {{section.data.id}}">
		{{ section.templateContent | safe }}
	</section>
{% endfor %}

<link rel="stylesheet" type="text/css" href="./desktop/build/bundle.css" media="all">
<script defer src="./desktop/build/bundle.js"></script>

{#
<script type="application/javascript">
	function resizeIFrameToFitContent(iFrame) {
		iFrame.height = window.innerHeight;
	}
	window.addEventListener('DOMContentLoaded', function(e) {
		const iFrame = document.getElementById('werkstadt-iframe');
		window.addEventListener('resize', (event) => {
			resizeIFrameToFitContent(iFrame);
		});
		resizeIFrameToFitContent(iFrame);
	});
</script>
#}

<link rel="stylesheet" type="text/css" href="style.css" media="all">
<style type="text/css" media="all">
	body,
	html {
		padding: 0;
		margin: 0;

		font-family: "Sen", sans-serif;
	}

	header {
		width: 100%;
		text-align: center;
	}
	header h1 {
		color: #555;
		font-family: "Sen", sans-serif;
		font-size: 2.25rem;
		font-weight: 600;
		line-height: 1.25;
		margin: 3rem 0;
		text-align: left;
	}
	header img.banner {
		margin: 0;
		max-width: 100%;
	}

	section.container {
		margin: 2rem 0;
		padding: 2rem 0;
	}

	.container {
		position: relative;
	}

	section h2 {
		font-size: xx-large;
		text-align: center;
		margin: 2rem 0;
		margin-left: 0;
	}
	section h2.title {
		margin-left: 0;
	}

	section.container.faq details {
		margin-bottom: 1rem;
	}

	.cite.bubble {
		position: relative;
		display: block;
		border-radius: 2rem;
		border: none;
		background-color: orange;
		max-width: 35rem;
		padding: 2rem;
		margin-top: 3rem;
		margin-left: 5%;
		margin-bottom: 5rem;
	}
	.cite.bubble:after {
		content: '';
		position: absolute;
		display: block;
		width: 0;
		z-index: 1;
		border-style: solid;
		border-width: 0 2rem 2rem 0;
		border-color: transparent orange transparent transparent;
		bottom: -2rem;
		left: 80%;
		margin-left: -1rem;
	}
	.cite.text {
		font-size: 1.5rem;
		font-style: italic;
		font-weight: 700;
	}
	.cite.text:before {
		content: '„';
	}
	.cite.text:after {
		content: '“';
	}
	.cite.author {
		display: block;
		text-align: right;
		margin-top: 1rem;
		font-size: 1rem;
	}

	.introduction {
		display: block;
		max-width: 29rem;
		color: var(--werkstadt-blue);
		margin: 4rem auto;
		font-size: 1.5rem;
		font-style: normal;
	}
	.introduction em {
		display: block;
		font-size: 2.5rem;
		font-style: normal;
	}

	.thanks {
		position: absolute;
		top: 15%;
		left: 60%;
		font-size: 2rem;
		line-height: 2rem;
		font-weight: bold;
		color: orange;
		max-width: 15rem;
		display: flex;
		flex-direction: row-reverse;
		rotate: 10deg;
	}
	.thanks span {
		font-size: 6rem;
		line-height: 4rem;
	}

	main {
		width: 100%;
		overflow: hidden;
		padding-bottom: 3rem !important;
	}
	main.section {
		padding: 0 0 0 0 !important;
	}

	#werkstadt-fullscreen-btn {
		text-align: right;
		width: 100%;
		display: inline-block;
		color: var(--werkstadt-blue);
	}

	.app-container {
		width: 100%;
		height: fit-content;
		background-color: var(--werkstadt-background);
	}

	@media screen and (min-width: 1056px) {
		.thanks {
			top: 25%;
			left: 65%;
		}
	}


	@media (max-width: 1024px) {
		.pageTree-200 .section:not(.is-highlight) {
			background-image: none;
		}

		.container {
			margin-left: 1rem;
			margin-right: 1rem;
		}

		header h1 {
			margin: 3rem 0;
		}

		.cite.bubble {
			max-width: 90%;
			margin: 2rem auto 5rem;
		}

		.introduction {
			display: block;
			max-width: 100%;
			margin: 2rem 0;
			padding: 2rem;
			border-radius: 2rem;
			background-color: var(--werkstadt-background);
			color: var(--werkstadt-blue);
		}

		.thanks {
			display: none;
			position: relative;
			top: 0;
			right: 0;
			rotate: 5deg;
			justify-content: space-around;
			margin: 2rem auto 4rem;
		}
	}
</style>