---
layout: "bluepingu.11ty.js"
---

<header>
	<h1>Werkstadt Fürth 2031 – Nachfragen.Umdenken.Mitwirken</h1>
</header>

<div class="container">
	<p class="cite bubble">
		<cite class="cite text">Angenommen Du könntest entscheiden - was würde sich in den kommenden 10 Jahren in Fürth verändern?</cite>
		<span class="cite author">- mehr wollten wir nicht wissen.</span>
	</p>
	<p class="introduction">
		<b>Clickt</b> Euch hier durch die Daten der Bürger:innenbefragung.
		Mitgewirkt haben über 400 Fürtherinnen, die wir beim Spazierengehen und online befragt.
		<em>Viel Spaß!</em>
	</p>
	<p class="thanks">
		Danke fürs mitmachen <span>!</span>
	</p>
</div>

<div class="app-container">
	<a href="./desktop/" id="werkstadt-fullscreen-btn">Open in Fullscreen ◹</a>
	<iframe src="./desktop/" 
		id="werkstadt-iframe" 
		frameborder="0" 
		scrolling="yes" 
		allow="fullscreen" 
		width="100%"
	></iframe>
</div>

<script type="application/javascript">
	function resizeIFrameToFitContent(iFrame) {
		iFrame.height = window.innerHeight;
	}
	window.addEventListener('DOMContentLoaded', function(e) {
		const iFrame = document.getElementById('werkstadt-iframe');
		window.addEventListener('resize', (event) => {
			resizeIFrameToFitContent(iFrame);
		});
		resizeIFrameToFitContent(iFrame);
	});
</script>

<link rel="stylesheet" type="text/css" href="style.css" media="all">
<style type="text/css" media="all">
	html, body {
		padding: 0;
		margin: 0;
	}

	header {
		width: 100%;
	}
	header h1 {
		height: 36vh;
		margin: 3rem auto;
		background-image: url(./desktop/csm_WSF_Logo_2204_rgb_Mittel_7e059889c0.png);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		text-align: center;
		color: transparent;
	}

	.container {
		position: relative;
	}

	.cite.bubble {
		position: relative;
		display: block;
		border-radius: 2rem;
		border: none;
		background-color: orange;
		max-width: 35rem;
		padding: 2rem;
		margin-top: 3rem;
		margin-left: 5%;
		margin-bottom: 5rem;
	}
	.cite.bubble:after {
		content: '';
		position: absolute;
		display: block;
		width: 0;
		z-index: 1;
		border-style: solid;
		border-width: 0 2rem 2rem 0;
		border-color: transparent orange transparent transparent;
		bottom: -2rem;
		left: 80%;
		margin-left: -1rem;
	}
	.cite.text {
		font-size: 1.5rem;
		font-style: italic;
		font-weight: 700;
	}
	.cite.text:before {
		content: '„';
	}
	.cite.text:after {
		content: '“';
	}
	.cite.author {
		display: block;
		text-align: right;
		margin-top: 1rem;
		font-size: 1rem;
	}

	.introduction {
		display: block;
		max-width: 29rem;
		color: var(--werkstadt-blue);
		margin: 4rem auto;
		font-size: 1.5rem;
		font-style: normal;
	}
	.introduction em {
		display: block;
		font-size: 2.5rem;
		font-style: normal;
	}

	.thanks {
		position: absolute;
		top: 15%;
		right: 20%;
		font-size: 2rem;
		font-weight: bold;
		color: orange;
		max-width: 15rem;
		display: flex;
		flex-direction: row-reverse;
		rotate: 10deg;
	}
	.thanks span {
		font-size: 6rem;
		line-height: 5.6rem;
	}

	main {
		width: 100%;
	}
	main.section {
		padding: 0;
		padding-left: 0rem !important;
	}

	#werkstadt-fullscreen-btn {
		text-align: right;
		width: 100%;
		display: inline-block;
		color: var(--werkstadt-blue);
	}

	.app-container {
		width: 100%;
		height: fit-content;
		background-color: var(--werkstadt-background);
	}

	footer#footer {
		margin-top: 3rem;
	}

	@media (max-width: 1054px) {
		.pageTree-200 .section:not(.is-highlight) {
			background-image: none;
		}

		.container {
			margin-left: 1rem;
			margin-right: 1rem;
		}

		header h1 {
			margin: 3rem 0;
		}

		.cite.bubble {
			max-width: 90%;
			margin: 2rem auto 5rem auto;
		}

		.introduction {
			display: block;
			max-width: 100%;
			margin: 2rem 0;
			padding: 2rem;
			border-radius: 2rem;
			background-color: var(--werkstadt-background);
			color: var(--werkstadt-blue);
		}

		.thanks {
			position: relative;
			top: 0;
			right: 0;
			rotate: 5deg;
			justify-content: space-around;
			margin: 2rem auto 4rem auto;
		}
	}
</style>